<small>
    Built by <a href="https://bishal.io" target="_blank">Bishal</a> 
    at <a href="https://skillaroo.com.au" target="_blank">Skillaroo</a>, 
    <br>
    Source code on
    <a href="https://github.com/skillaroo/build-your-web-dev-portfolio" target="_blank">Github</a>
</small>
<style>
small {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    color: var(--text);
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    font-family: monospace;
    letter-spacing: 0.1rem;
    opacity: 0.6;
    transition: color 0.2s;
}
small a {
    color: var(--text);
    font-weight: 600;
    text-decoration: underline;
    transition: color 0.2s;
}
small a:hover {
    color: var(--primary);
}
</style>