---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';
import { parseSiteConfig } from "../../config";
import BlogCard from "../../components/ui/BlogCard.astro";

const posts = await getCollection('blog');
const { site_title, site_description, email, socials } = parseSiteConfig();

---
<Layout site_title={"Blog | " + site_title} site_description={site_description} email={email} socials={socials}>
    <main class="container">
        <h1>Blog</h1>
        {posts.map((post) => (
                <BlogCard post={{ ...post.data, slug: post.slug}}/>
        ))}
        </main>
</Layout>