---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';
import { parseSiteConfig } from "../../config";
import BlogCard from "../../components/ui/BlogCard.astro";

const posts = await getCollection('blog');
const { site_title } = parseSiteConfig();

---
<Layout title={"Blog | " + site_title}>
    <main class="container">
        <h1>Blog</h1>
        {posts.map((post) => (
            <a href={`/blog/${post.slug}`}>
                <BlogCard post={post.data}/>
            </a>
        ))}
        </main>
</Layout>