<html>
    <head>
        <title>Hello World</title>
        <style>
            body {
                background-color: #222222;
                color: #eeeeee;
                font-family: sans-serif;
            }

            h1 {
                border-bottom: 2px dashed #889900;
                display: inline-block;
            }
        </style>
        <script>
            const heading = document.getElementById("heading");
            const body = document.getElementsByTagName("body")[0];

            heading!.addEventListener("click", function () {
                const r = Math.floor(Math.random() * 255);
                const g = Math.floor(Math.random() * 255);
                const b = Math.floor(Math.random() * 255);

                body.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
            });
        </script>
    </head>
    <body>
        <h1 id="heading">Welcome to the workshop</h1>
        <p>Thanks for joining today! I hope you learn something interesting</p>
    </body>
</html>
