---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro"
---

<Layout title="Contact Page">
    <h1>Contact Me</h1>
    <p>Thanks for joining today! I hope you learn something interesting</p>
    
    <Button type="green">Continue</Button>
    <Button type="red">Cancel</Button>

</Layout>
<style>
    body {
        color: white;
    }
</style>
