---
import { Image } from "astro:assets";
import dpImage from "../assets/images/dp.png";

interface Props {
    about: {
        title: string;
        paragraphs: string[];
    };
}

const { about } = Astro.props;
---

<section class="container">
    <div>
        <h2>{about.title}</h2>
        {about.paragraphs.map(pText => (
            <p>{pText}</p>
        ))}
    </div>
    <div class="image-container">
        <Image
            src={dpImage}
            alt="Captain Jack Sparrow"
            height={250}
            width={250}
        />
    </div>
</section>
<style>
    section {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 1000px) {
        section {
            flex-direction: column;
        }
    }

    h2 {
        color: var(--gray-dark);
        font-size: 2rem;
        border-bottom: 2px solid var(--slate-light);
        padding-bottom: 1rem;
    }

    p {
        max-width: 60ch;
    }
    .image-container {
        padding: 2rem;
        padding-top: 4rem;
        display: flex;
        justify-content: center;
    }
</style>
