---
interface Props {
	type: string;

}

const { type } = Astro.props;
---

<style>
    button {
        cursor: pointer;
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 0.5rem;
        color: white;
    }

button.green {
    background-color: green;
}

button.red {
    background-color: red;
}

</style>

<button class={type == "red" ? "red" : "green"}><slot /></button>