<main>
    <small>Ahoy, my name is</small>
    <h1 class="heading-dark">Captain Jack Sparrow.</h1>
    <h1 class="heading-light">I captain the Black Pearl.</h1>
    <p>I am featured in half a dozen Disney blockbusters. I am played by Johnny Depp. I am featured in half a dozen Disney blockbusters. I am played by Johnny Depp. I am featured in half a dozen Disney blockbusters. I am played by Johnny Depp.</p>
    <button>Check out my Ship</button>
</main>
<style>
    small {
        color: var(--green);
        font-weight: 600;
        font-size: 1rem;
    }

    main {
        padding: 10rem 2rem;
    }

    h1 {
        font-size: 3.5rem;
        margin: 0;
        margin-top: 1rem;
    }

    .heading-dark {
        color: var(--brown);
    }

    p {
        max-width: 50ch;
    }
    .heading-light {
        color: var(--brown-light);
    }


	button {
		background-color: var(--green);
		color: var(--gray);
		border: none;
		padding: 1rem 2rem;
		border-radius: 0.5rem;
        margin-top: 2rem;
        font-size: 1.2rem;
		cursor: pointer;
	}
</style>