---
import Button from './ui/Button.astro';

interface Props {
    main: {
        headings: string[];
        paragraphs: string[];
        button: {
            text: string;
            link: string;
        };
    };
}

const { main } = Astro.props;

---
<main class="container">
    <small>Hi there</small>
    <h1 class="heading-light">{main.headings[0]}</h1>
    <h1 class="heading-dark">{main.headings[1]}</h1>
    {main.paragraphs.map(pText => (
        <p>{pText}</p>
    ))}
    <Button>{main.button.text}</Button>
</main>
<style>
    small {
        color: var(--accent);
        font-weight: 600;
        font-size: 1rem;
    }

    main {
        min-height: 60vh;
        padding-top: 12rem;
    }

    h1 {
        font-size: 3.5rem;
        margin: 1rem 0;
    }

    .heading-dark {
        color: var(--slate-light);
    }

    .heading-light {
        color: var(--gray-light);
    }

    p {
        margin-top: 2rem;
        max-width: 50ch;
    }




</style>