<nav>
    <div>
        <a href="/">
            JS
        </a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#main">Main</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    a {
        color: var(--green);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
    }