<section>
    <h1>Check out some latest blogs</h1>
</section>
<style>
    section {
        padding: 2rem;
        text-align: center;
    }
    h1 {
        font-size: 2rem;
        color: var(--green);
    }
</style>