---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');

---
<section class="container">
    <h2>Latest Posts</h2>
    <div class="posts-container">
        {posts.map(({ data: post }) => (
            <article>
                <p class="date">{new Date(post.date).toLocaleDateString('en-US', { dateStyle: 'long' })}</p>
                <h4>{post.title}</h4>
                <p class="author">{post.author}</p>
            </article>
        ))}
    </div>
</section>
<style>


    h2 {
        color: var(--gray-dark);
        font-size: 2rem;
    }

    h4 {
        color: var(--gray-light);
        font-size: 1.5rem;
        margin: 0;
    }

    article {
        margin-top: 0.5rem;
        border: 1px solid var(--slate-light);
        border-radius: 1rem;
        padding: 1rem;
    }

    article:hover {
        background-color: var(--slate);
        transition: all 0.3s;
    }

    div.posts-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @media screen and (max-width: 768px) {
        div.posts-container {
            grid-template-columns: 1fr;
        }
    }

    p.date {
        color: var(--accent);
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    p.author {
        color: var(--gray);
        font-size: 1rem;
        margin: 0;
    }
</style>