---
import Navbar from './Navbar.astro';
import Meta from './Meta.astro';
import SideFrameNav from './SideFrameNav.astro';
import BlogFooterNav from './BlogFooterNav.astro';
import '../styles/global.css';
interface Props {
	title: string;
}

const { title } = Astro.props;

// TODO: Add the left and right social, email menus (not on mobile)
---

<!doctype html>
<html lang="en">
	<head>
		<Meta/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<SideFrameNav/>
		<BlogFooterNav/>
	</body>
</html>

<style>
    body {
        padding: 8rem 2rem;
    }
</style>