---
interface Props {
	title: string;
}

const { title } = Astro.props;

// TODO: Add the left and right social, email menus (not on mobile)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--gray: #000933;
		--gray-light: #050e36;
		--gray-dark: #00061e;
		--brown: #a74b16;
		--brown-light: #cd723e;
		--brown-dark: #923a08;
		--green: #05a812;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--gray);
		color: var(--brown);
	}
	body {
		margin: 0;
	}

</style>
